# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

PersonalTrainerAppOrg.js
CustomerList.js
AddCustomerForm.js
Customer.js
Customers.css
EditCustomerForm.js
Home.js
Search.js
/hooks/useInputState.js

/junk
